### PIPELINE INPUT/OUTPUT

# annotation files defined below will be located relative to annotation dir
annotation_dir: "{{ annotation_dir | default('annotations') }}"
annotations:
    fasta_fns:
      # a fasta file is required for all genotypes that are listed as either parent1 or parent2 in the datasets section
      {{ parent1_name | default('col0')}}: "{{ parent1_name | default('col0')}}.fa"
      {{ parent2_name | default('ler')}}: "{{ parent2_name | default('ler')}}.fa"
    gtf_fns:
      # a gtf file is required for all genotypes that are listed as reference_genotypes
      {{ parent1_name | default('col0')}}: "{{ parent1_name | default('col0')}}.gtf"
    barcode_whitelist_fns:
      # barcode whitelists for various single cell data types
      {{ single_cell_method | default('10x_rna_v4') }}: {{ barcode_whitelist_fns }}


# input fastq files will be searched for within this directory
raw_data_dir: "{{ raw_data_dir | default('raw_data')}}"
# sample ids and sample specific information
datasets:
  {{ dataset_name | default('example_dataset') }}:
    technology: "{{ single_cell_method | default('10x_rna_v4')}}"
    reference_genotype: "{{ reference_genotype | default('col0')}}"
    input_file_basenames: 
      # the base names of the files that will be considered part of this sample 
      # useful for when a sample is split across multiple lanes & therefore fastqs
      # e.g. will be located at "{{ raw_data_dir | default('raw_data')}}/"{{ dataset_name | default('example_dataset') }}_1".1.fastq.gz"
      - "{{ dataset_name | default('example_dataset') }}_1"
      - "{{ dataset_name | default('example_dataset') }}_2"
      
    genotypes:
      # you can add one or more different genotypes that have been pooled in the dataset
      {{ dataset_genotype_name | default('col0xler')}}:
        parent1: "{{ parent1_name | default('col0')}}"
        parent2: "{{ parent2_name | default('ler')}}"


# filename suffixes for the 2 (RNA) or 3 (ATAC) different filetypes
file_suffixes:
  rna: (normal for 10x/BD RNA-seq)
    read1: ".1.fastq.gz" # file containing the barcode sequences
    read2: ".2.fastq.gz" # file containing the cDNA sequences
  atac: (normal for 10x ATAC)
    read1: ".1.fastq.gz" # file containing the fwd read
    read2: ".2.fastq.gz" # file containing the rev read
    barcode: ".bc.fastq.gz" # file containing the barcode sequences
    barcode_rc: ".bc_rc.fastq.gz" # file containing the reverse complemented barcode sequences
                                  # (this is autogenerated if required, see preprocessing)

# results will be created within this dir
results_dir: "{{ results_dir |  default('results')}}"


### PIPELINE PARAMS:

preprocessing:
  atac_rev_comp_barcode: True # necessary for some sequencing methods e.g. nanoball seq

variants:
  minimap2:
    preset: "asm10"
    zdrop: "500" # can be a single int or pair of ints, see minimap manual
  syri:
    use_low_qual_filters: False # whether to use syris default filtering
  star_consensus:
    max_hdr_length: 0 # the maximum size of syri HDRs to try to resolve to snps/indels
    max_indel_size: 50

alignment:
  star:
    rna_umi_dedup_method: "1MM_Directional_UMItools"
    rna_align_intron_min: 60
    rna_align_intron_max: 20000
    filter_multimap_nmax: 1
    filter_mismatch_nmax: 4

haplotyping:
  min_informative_reads_per_barcode: 100
  min_informative_reads_per_chrom: 20